<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Foogle</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

</head>
<body>
    <div class="jumbotron">
      <div class="container">
        <h1> Foogle </h1>
        <h2> Google for Food </h2>
      </div>
    </div>

    <div class="searchcontainer">
        <div class="row">
            <div class="col-md-4">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by Name" id="txtSearch"/>
                      <div class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="txtSearchbyName">
                          <span class="glyphicon glyphicon-search">  Search  </span>
                        </button>
                      </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by Cuisine" id="cuisineSearch"/>
                      <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="txtSearchbyCuisine">
                          <span class="glyphicon glyphicon-search"> Search </span>
                        </button>
                      </div>
                    </div>
            </div>
            <div class="col-md-4">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="addnew">
                  <span class="glyphicon glyphicon-plus"> Add New Restaurant </span>
                </button>
              </div>
            </div>
      </div>
  </div>

    <div id="results">
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="NewModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create New Restaurant</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Name</label>
                <div class="col-md-4">
                  <input id="Name" name="Name" type="text" placeholder="" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Cuisine">Cuisine</label>
                <div class="col-md-4">
                  <input id="Cuisine" name="Cuisine" type="text" placeholder="ex: Mexican/Italian" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Location">Location</label>
                <div class="col-md-4">
                  <input id="Location" name="Location" type="text" placeholder="" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="ServiceTime">ServiceTime</label>
                <div class="col-md-4">
                  <input id="ServiceTime" name="ServiceTime" type="text" placeholder="Enter in minutes" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="PriceRange">PriceRange</label>
                <div class="col-md-4">
                  <input id="PriceRange" name="PriceRange" type="text" placeholder="ex: Cheap/Moderate/Expensive" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="OperationHours">OperationHours</label>
                <div class="col-md-4">
                  <input id="OperationHours" name="OperationHours" type="text" placeholder="ex: Mon-Sat : 10am-6pm" class="form-control input-md">
                </div>
              </div>

            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="saveRestaurant">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
