<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Foogle</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

</head>
<body>
    <div class="jumbotron">
      <div class="container">
        <h1> Foogle </h1>
        <h2> Google for Food </h2>
      </div>
    </div>

    <div class="searchcontainer">
        <div class="row">
            <div class="col-md-4">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by Name" id="txtSearch"/>
                      <div class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="txtSearchbyName">
                          <span class="glyphicon glyphicon-search">  Search  </span>
                        </button>
                      </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by Cuisine" id="cuisineSearch"/>
                      <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="txtSearchbyCuisine">
                          <span class="glyphicon glyphicon-search"> Search </span>
                        </button>
                      </div>
                    </div>
            </div>
      </div>
  </div>

    <div id="results">
    </div>
</body>
</html>
