/*custom styles*/
.jumbotron{
  color:#ffffff;
  background-image: url("/images/bg.jpg");
  background-size: cover;
}
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    align-content: center;
    width: 80%;
    border: none;
    text-align: center;
    outline: none;
    font-size:25px;
    transition: 0.4s;
    padding: 10px;
    margin-left:120px;
  }
#results{
  overflow:auto;
}
.toggle{
  display:none;
  background-color: #999068;
  font-size: 20px;
  border-style: ridge;
  border-radius:25px;
  width: 80%;
  margin-left:120px;
}
.space{
padding-left: 25px;
margin:10px;
text-align: justify;
}
.header{
  padding-left: 25px;
  text-decoration: underline;
}
textarea{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  padding:5px;
  margin:10px;
}
.btnpost{
  margin-left:250px;
}
.form-inline{
  margin-left: 200px;
  padding:10px;
}
.edit-input {
  display:none;
}
.edit-review-submit-button{
  margin-left: 80px;
}
label{
  margin: 10px;
}
.inputtag{
  margin-left:10px;
}
.name{
margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 500px;
}
.comment{
margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 600px;
height: 100px;
}
