

.jumbotron{
  color:#ffffff;
  background-image: url("/images/bg.jpg");
  background-size: cover;

}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size:25px;
    transition: 0.4s;
    padding: 10px;
  }

#results{
  overflow:auto;

}
.toggle{
  display:none;
  background-color: #e8e9ea;
  font-size: 20px;
  border-style: ridge;
  border-radius:25px;
}

.space{
padding-left: 25px;
margin:10px;
text-align: justify;
}
.header{
  padding-left: 25px;
  text-decoration: underline;
}
textarea{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  padding:5px;
  margin:10px;
}
.btnpost{
  margin-left:600px;
}
input_margin{
  margin-left: 100px;
}
.form-inline{
  margin-left: 500px;
}
.edit-input {
  display:none;
}
